@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Buenard:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
 /*@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');*/


@media (max-width: 768px) {
    * {
    margin: 0;
    }
    /*START*/
    .HerCode {
        display: flex;/* visualizar contenido  */
        justify-content: center;
        padding: 140px;
        color: #F6DF0D;
        font-family:'Bebas Neue', sans-serif;
        font-weight: bold;
        font-size: 1000%;
        -webkit-text-stroke: 2px black;
        position:fixed;
        left: 45%;
        align-items: center;
        transform: translateX(-45%);
    }
    .sectionOne {
        background-image:url(./Imagenes/programadora.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vb;
        opacity: 0.65;
    }
    .btn-start{
        background-color: #F6DF0D ;
        font-weight: bold;
        border-radius: 40px;
        width: 350px;
        height: 70px;
        bottom: 0;
        margin:10px 10px 100px 20px;
        font-size: 300%;
        font-family: 'Bebas Neue', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        position:fixed;
        left: 45%;
        transform: translateX(-50%);
        margin-bottom: 100px;
    } 

     /*LOGIN*/
    .HerCode2 {
        display: flex;/* visualizar contenido  */
        justify-content: center;
        padding: 140px;
        color: #F6DF0D;
        font-family:'Bebas Neue', sans-serif;
        font-weight: bold;
        font-size: 800%;
        -webkit-text-stroke: 2px black;
        position:fixed;
        left: 45%;
        align-items: center;
        transform: translateX(-45%);
        margin: 0;
        }

    .inputEmail{  /* INGRESA TU CORREO */
        font-family:'Bebas Neue', sans-serif;
        font-size: 150%;
        display: flex;
        justify-content: space-between;
        border-radius: 8px;
        transform: translateX(-50%);
        margin: 15px;
        width: 300px;
        height: 60px;
        text-align: center;
        position: relative; 
        top: 50%; 
        left:45%; 
        font-weight: bold;
    } 

    .inputPass{
        font-family:'Bebas Neue', sans-serif;
        font-size: 150%;
        display: flex;
        justify-content: space-between;
        border-radius: 8px;
        transform: translateX(-50%);
        margin: 15px;
        width: 300px;
        height: 60px;
        text-align: center;
        position: relative; 
        top: 50%; 
        left:45%; 
        font-weight: bold;
    }
        
    .btn-login{
        background-color: #F6DF0D;
        font-family: 'Bebas Neue', sans-serif;
        font-weight: bold;
        width: 300px;
        height: 70px;
        font-size: 200%;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 70%;
        left: 45%;
        transform: translateX(-45%);
    } 

    .btn-google{
        width: 400px;
        height: 85px;
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
        background-color: white;
        flex-direction: row-reverse;
        align-items: center;
        top:80%;
        display: flex;
        justify-content: center;
        position:fixed;
        left: 45%;
        transform: translateX(-45%);
        

    }
    .googleImg{
        width: 55px;
        height: 55px;
        padding-right: 40px;
    }
    .btn-register{
        font-family: 'Bebas Neue', sans-serif;
        font-weight: bold;
        color:#F6DF0D;
        text-decoration: underline;
        width: 300px;
        height: 70px;
        background-color: transparent;
        font-size: 200%;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 90%;
        left: 45%;
        transform: translateX(-45%);
    }
    /*REGISTER*/
    .btn-register2{
        background-color: #F6DF0D;
        font-family: 'Bebas Neue', sans-serif;
        font-weight: bold;
        width: 300px;
        height: 70px;
        font-size: 200%;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 75%;
        left: 45%;
        transform: translateX(-45%);
    }
    .inputnombre{
        font-family:'Bebas Neue', sans-serif;
        font-size: 150%;
        display: flex;
        justify-content: space-between;
        border-radius: 8px;
        transform: translateX(-50%);
        margin: 15px;
        width: 300px;
        height: 60px;
        text-align: center;
        position: relative; 
        top: 50%; 
        left:45%; 
    }
    /*BIENVENIDA*/
    .sectionTwo{
        background-color: #F6DF0D;
        background-image: url(https://static.wixstatic.com/media/dd7a20_4a5674d23ecd438f8c7c2ebcff428d48~mv2.gif);
        background-size: cover;
        height: 100vb;
        opacity: 0.4;
    }

    .bienvenida {
        display: flex;/* visualizar contenido  */
        justify-content: center;
        padding: 140px;
        font-family:'Bebas Neue', sans-serif;
        font-weight: bold;
        font-size: 400%;
        color:#0202D4;
        position:fixed;
        top: 15%;
        left: 28%;
        align-items: center;
        transform: translateX(-50%);
    }
    /* MURO DE PROGRAMACION*/
   .sectionPost{
    background-image:url("/Imagenes/717d80e94419af898d59c8868c7da522.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%; 
    position: relative;
} 
.background-image {
        background-image: url("src/Imagenes/ideas de fondo para HerCode.jfif");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .titlePost {   /* MURO DE PROGRAMACION */  /*ysmari*/
        font-family:'Bebas Neue', sans-serif;
        font-size: 500%;
        position: relative;
        transform: translateX(8%); 
        color: #DC7633;
        -webkit-text-stroke: 0.8px black;
        right:0%;
        padding-top: 40px; /* Ajusta el valor según tus necesidades */
    }
    .btn-publicar {  
        font-family: 'Bebas Neue', sans-serif;
        width: auto; /* permitir que se ajuste según el contenido */
        max-width: 100px;
        height: 30px;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 29%; /* puedes ajustar según lo que necesites */
        right: 8%;
        transform: translateY(-48%); /* si aún es necesario, mantiene el botón centrado verticalmente */
        color:#DC7633;
        cursor: pointer;
    }
    .textAreaPost {
        width: 90%;
        height: auto; /* para ajustar automáticamente la altura según el contenido interno */
        min-height: 200px; /* establecer una altura mínima */
        display: block;
        margin: 100px auto; /* centrar horizontalmente, manteniendo el margen superior */
        text-align: center;
        padding: 30px; /* ajusta según lo que necesites */
        box-sizing: border-box;
        border-radius: 20px;
        border: 2px solid#DC7633; 
        position: relative;
        position: absolute;
        top: 18%; /* puedes ajustar según lo que necesites */
        right: 6%;
    } 
    #postContent{
        width: 80%;
        height: 200px;
        display: block;
        margin-top: 20px;
        margin-left: 65px;
        text-align: center;
        padding-top: 120px;
        box-sizing: border-box;
        border-radius: 10px;
}
    .contenidoPost{
        background-color:#FEF5E7;
        margin: 50px; /* Adjust the top margin value to move the box down */
        width: 80%;
        height: 200px;
        border-color: black;
        border-width: 3px;
        border-radius: 20px;
        margin-top:450px; /* Ajusta el valor para mover el contenido hacia abajo */
        margin-bottom:-400px; /*ajusta los cuadros al publicar */
       
    }
 .btn-like{
    margin-top:160px;
   }
   
.btn-cerrar{
    background-color:#DC7633;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    font-size: 180%;
    transform: translateY(-340%); 
    float: right; /* Mueve el elemento a la parte superior derecha */
}
  }
