
@media (max-width: 768px) {
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Buenard:wght@700&display=swap');
    * {
    margin: 0;
    } 
    /*START*/
    .HerCode {
        display: flex;/* visualizar contenido  */
        justify-content: center;
        padding: 140px;
        color: #F6DF0D;/*Color de letra*/
        margin: 0px;
        font-family:'Bebas Neue', sans-serif; 
        font-weight: bold;
        font-size: 400%;
        -webkit-text-stroke: 2px black;   
    }
    .screen-start {
        background-image:url(./Imagenes/programadora.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vb;
        opacity: 0.65;   
    }
    .btn-start{
        background-color: #F6DF0D ;
        justify-content: center;
        font-weight: bold;
        border-radius: 40px;
        display: flex;
        align-items: center; 
        width: 350px;
        height: 70px;
        bottom: 0;
        position: fixed;
        margin:10px 10px 100px 20px;  
        font-size: 200%;
        font-family: 'Bebas Neue', sans-serif; 
    }
    /*LOGIN*/
    .screen-login {
        background-image:url(./Imagenes/programadora.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vb;
        opacity: 0.65;   
    }
    .section.login{
        background-color: white;
    }
}