@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Buenard:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@300&display=swap');
@media (min-width: 769px) {
    .background{
        background-image:url(https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2874&q=80);
           

    }
    * {
    margin: 0;
    }

    /*START*/
    .HerCode {
        display: flex;/* visualizar contenido  */
        justify-content: center;

        padding: 10%;
        color: #F6DF0D;
        font-family:'Bebas Neue', sans-serif;
        font-weight: bold;
        font-size: 700%;
        -webkit-text-stroke: 2px black;
        position:fixed;
        left: 50%;
        align-items: center;
        transform: translateX(-50%);
        overflow: hidden;
        top: -2%;
    }
    .sectionOne {
        background-image:url(./Imagenes/programadora.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 50%;
        margin-left: 25%;
       
    }

    .btn-start{
        background-color: #F6DF0D;
        font-family: 'Bebas Neue', sans-serif;
        font-weight: bold;
        width: 40%;
        height: 8%;
        font-size: 200%;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 85%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        position: relative; 
    }
    /*LOGIN*/
    .HerCode2{
        display: flex;/* visualizar contenido  */
        justify-content: center;
        padding: 10%;
        color: #F6DF0D;
        font-family:'Bebas Neue', sans-serif;
        font-weight: bold;
        font-size: 400%;
        -webkit-text-stroke: 2px black;
        position:fixed;
        left: 50%;
        align-items: center;
        transform: translateX(-50%);
        overflow: hidden;
        top: -5%;
    }
    .inputEmail{
        display: flex;/* visualizar contenido  */
        justify-content: center;
        font-family:'Bebas Neue', sans-serif;
        font-size: 120%;
        border-radius: 8px;
        transform: translateX(-50%);
        margin: 15px;
        width: 35%;
        height: 7%;
        text-align: center;
        position: relative; 
        top: 42%; 
        left:50%; 
    }

    .inputPass{
        display: flex;/* visualizar contenido  */
        justify-content: center;
        font-family:'Bebas Neue', sans-serif;
        font-size: 120%;
        border-radius: 8px;
        transform: translateX(-50%);
        margin: 15px;
        width: 35%;
        height: 7%;
        text-align: center;
        position: relative; 
        top: 40%; 
        left:50%;
    }
        
    .btn-login{
        background-color: #F6DF0D;
        font-family: 'Bebas Neue', sans-serif;
        font-weight: bold;
        width: 35%;
        height: 7%;
        font-size: 150%;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 57%;
        left: 52%;
        transform: translateX(-50%);
        text-align: center;
        position: relative; 
    }
    .btn-google{
        width: 30%;
        height: 7%;
        font-size: 70%;
        font-family: 'Roboto', sans-serif;
        background-color: white;
        flex-direction: row-reverse;
        align-items: center;
        top:58%;
        display: flex;
        justify-content: center;
        left: 51%;
        transform: translateX(-45%);
        text-align: center;
        position: relative; 

 

    }
    .googleImg{
        width: 18%;
        height: 70%;
        padding-right: 5%;
    }
    .btn-register{
        font-family: 'Bebas Neue', sans-serif;
        width: 35%;
        height: 7%;
        font-size: 120%;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 57%;
        left: 52%;
        transform: translateX(-50%);
        text-align: center;
        position: relative; 
        background: transparent;
        border: none;
        text-decoration: underline;
        color: #F6DF0D;
        -webkit-text-stroke: 1px black;
    }
    /*REGISTER*/
    .btn-register2{
        background-color: #F6DF0D;
        font-family: 'Bebas Neue', sans-serif;
        font-weight: bold;
        width: 35%;
        height: 7%;
        font-size: 150%;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 57%;
        left: 52%;
        transform: translateX(-50%);
        text-align: center;
        position: relative;
    }
    .inputnombre{
        display: flex;/* visualizar contenido  */
        justify-content: center;
        font-family:'Bebas Neue', sans-serif;
        font-size: 120%;
        border-radius: 8px;
        transform: translateX(-50%);
        margin: 15px;
        width: 35%;
        height: 7%;
        text-align: center;
        position: relative; 
        top: 40%; 
        left:50%; 
    }
    /*BIENVENIDA*/
    .sectionTwo{
        background-color: #F6DF0D;
        background-image: url(https://static.wixstatic.com/media/dd7a20_4a5674d23ecd438f8c7c2ebcff428d48~mv2.gif);
        background-size: cover;
        height: 100vb;
        
    
    }
    .bienvenida {
        display: flex;/* visualizar contenido  */
        padding: 140px;
        font-family:'Bebas Neue', sans-serif;
        font-weight: bold;
        font-size: 400%;
        color:#0202D4;
        position:fixed;
        text-align: left;
        top: 1%;
        left: 28%;
        transform: translateX(-70%);
    }

    
    /* MURO DE PROGRAMACION*/

    .sectionPost{
        background-image:url(https://images.unsplash.com/photo-1511467687858-23d96c32e4ae?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80);
        background-repeat: no-repeat;
        width: 80%;
        position: relative;
        background-size: contain;
        background-position: center top;
        left: 10%;


    }
    .titlePost{
        font-family:'Bebas Neue', sans-serif;
        font-size: 350%;
        text-align: center;
        padding-top: 15%;
        position: relative;
        text-shadow: 0px 0px 9px #F6DF0D;
        left:1%;

    }
        
    .btn-publicar{
        font-family: 'Bebas Neue', sans-serif;
        width: 11%;
        height: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 38%;
        left: 55%;
        transform: translateX(210%);
        background-color: #F6DF0D;
        font-size: 110%;
    
    }
    .textAreaPost{
        width: 80%;
        height: 15%;
        display: block;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        border-radius: 10px;
        border: 1px solid #F6DF0D;
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        font-size: 100%;
        left: 10%;
        align-items: center;   
    }
    .contenidoPost{
        background-color: #FFFF;
        margin: 10% auto;
        width: 60%;
        height: 15%;
        border-color: #FFF6A1;
        border-width: 5px;
        border-radius: 15px;
        border-style:ridge;
        padding: 5%;
        font-size: 120%;
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        
    }
    
    .btn-like {
        background-color: #F6DF0D;
        font-family: 'Bebas Neue', sans-serif;
        height: 35%;
        margin-top: 10%;  
        justify-content: center;
        align-items: center;  
        width: 35%;  
        transform: translateY(280%);
        margin:1%
        
      }
      
      .buttonEdit {
        background-color: #F6DF0D;
        font-family: 'Bebas Neue', sans-serif;
        height: 35%;
        justify-content: center;
        align-items: center;
        width: 25%;
        transform: translateY(280%);
        margin:1%
      }

      .buttonDelete {
        transform: translateY(280%);
        background-color: #F6DF0D;
        font-family: 'Bebas Neue', sans-serif;
        height: 35%;
        justify-content: center;
        align-items: center;
        width: 25%;
        margin:1%
      }
    
   .btn-cerrar{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    font-size: 150%;
    position: absolute;
    top: 3%;
    right: 6%;
    margin-top: -2%;
    margin-right: -2%;
}
   .textAreEdit{
        width: 80%;
        height: 15%;
        display: block;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        border-radius: 10px;
        border: 1px solid #F6DF0D;
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        font-size: 100%;
        left: 10%;
        align-items: center;   

   }
   .buttonUpdate{
    font-family: 'Bebas Neue', sans-serif;
        width: 20%;
        height: 4%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translateX(10%);
        background-color: #F6DF0D;
        font-size: 90%;

   }

}    

@media (max-width: 768px) {
    * {
    margin: 0;
    }
    /*START*/
    .HerCode {
        display: flex;/* visualizar contenido  */
        justify-content: center;
        padding: 25%;
        color: #F6DF0D;
        font-family:'Bebas Neue', sans-serif;
        font-weight: bold;
        font-size: 400%;
        -webkit-text-stroke: 2px black;
        position:fixed;
        left: 50%;
        align-items: center;
        transform: translateX(-50%);
        overflow: hidden;
    }
    .sectionOne {
        background-image:url(./Imagenes/programadora.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
    }
    .btn-start{
        background-color: #F6DF0D;
        font-family: 'Bebas Neue', sans-serif;
        font-weight: bold;
        width: 65%;
        height: 8%;
        font-size: 200%;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 80%;
        left: 50%;
        transform: translateX(-45%);
        
    }
    /*LOGIN*/
    .HerCode2 {
        display: flex;/* visualizar contenido  */
        justify-content: center;
        padding: 25%;
        color: #F6DF0D;
        font-family:'Bebas Neue', sans-serif;
        font-weight: bold;
        font-size: 600%;
        -webkit-text-stroke: 2px black;
        position:fixed;
        left: 50%;
        align-items: center;
        transform: translateX(-50%);
        overflow: hidden;
        
    }
    .inputEmail{
        display: flex;/* visualizar contenido  */
        justify-content: center;
        font-family:'Bebas Neue', sans-serif;
        font-size: 150%;
        border-radius: 8px;
        transform: translateX(-50%);
        margin: 15px;
        width: 60%;
        height: 8%;
        text-align: center;
        position: relative; 
        top: 40%; 
        left:50%; 
    }

    .inputPass{
        display: flex;/* visualizar contenido  */
        justify-content: center;
        font-family:'Bebas Neue', sans-serif;
        font-size: 150%;
        border-radius: 8px;
        transform: translateX(-50%);
        margin: 15px;
        width: 60%;
        height: 8%;
        text-align: center;
        position: relative; 
        top: 40%; 
        left:50%;
    }
        
    .btn-login{
        background-color: #F6DF0D;
        font-family: 'Bebas Neue', sans-serif;
        font-weight: bold;
        width: 65%;
        height: 8%;
        font-size: 200%;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 70%;
        left: 50%;
        transform: translateX(-45%);
    }
    .btn-google{
        width: 65%;
        height: 8%;
        font-size: 100%;
        font-family: 'Roboto', sans-serif;
        background-color: white;
        flex-direction: row-reverse;
        align-items: center;
        top:80%;
        display: flex;
        justify-content: center;
        position:fixed;
        left: 50%;
        transform: translateX(-45%);
        
        

    }
    .googleImg{
        width: 25px;
        height: 25px;
        padding-right: 10px;
    }
    .btn-register{
        font-family: 'Bebas Neue', sans-serif;
        font-weight: bold;
        width: 65%;
        height: 8%;
        font-size: 200%;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 90%;
        left: 50%;
        transform: translateX(-45%);
        border: none;
        text-decoration: underline;
        color: #F6DF0D;
        -webkit-text-stroke: 1px black;
    }
    /*REGISTER*/
    .btn-register2{
        background-color: #F6DF0D;
        font-family: 'Bebas Neue', sans-serif;
        font-weight: bold;
        width: 65%;
        height: 8%;
        font-size: 200%;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 80%;
        left: 50%;
        transform: translateX(-45%);
    }
    .inputnombre{
        display: flex;/* visualizar contenido  */
        justify-content: center;
        font-family:'Bebas Neue', sans-serif;
        font-size: 100%;
        border-radius: 8px;
        transform: translateX(-50%);
        margin: 15px;
        width: 60%;
        height: 8%;
        text-align: center;
        position: relative; 
        top: 40%; 
        left:50%; 
    }
    /*BIENVENIDA*/
    .sectionTwo{
        background-color: #F6DF0D;
        background-image: url(https://static.wixstatic.com/media/dd7a20_4a5674d23ecd438f8c7c2ebcff428d48~mv2.gif);
        background-size: cover;
        height: 100vb;
    
    }

    .bienvenida {
        display: flex;/* visualizar contenido  */
        justify-content: center;
        padding: 30%;
        font-family:'Bebas Neue', sans-serif;
        font-weight: bold;
        font-size: 400%;
        color:#0202D4;
        position:fixed;
        top: 15%;
        left: 35%;
        align-items: center;
        transform: translateX(-50%);
    }
    /* MURO DE PROGRAMACION*/

    .sectionPost{
        background-image:url(./Imagenes/muro.jpg);
        background-repeat: no-repeat;
        width: 100%;
        background-size: 100%;
        position: relative;
        
           
    }
    .titlePost{
        font-family:'Bebas Neue', sans-serif;
        font-size: 300%;
        text-align: center;
        padding-top: 15%;
        position: relative;
        text-shadow: 0px 0px 9px #F6DF0D;
        left:1%;

    }
        
    .btn-publicar{
        font-family: 'Bebas Neue', sans-serif;
        width: 15%;
        height: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 15%;
        left: 42%;
        transform: translateX(210%);
        background-color: #F6DF0D;
        font-size: 120%;
    }
    .textAreaPost{
        width: 80%;
        height: 15%;
        display: block;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        border-radius: 10px;
        border: 1px solid #F6DF0D;
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        font-size: 100%;
        left: 10%;
        align-items: center;   
    }
    .contenidoPost{
        background-color: #FFFF;
        margin: 10% auto;
        width: 60%;
        height: 15%;
        border-color: #FFF6A1;
        border-width: 5px;
        border-radius: 15px;
        border-style:ridge;
        padding: 5%;
        font-size: 100%;
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        
    }
    
       .btn-like {
        background-color: #F6DF0D;
        font-family: 'Bebas Neue', sans-serif;
        height: 35%;
        margin-top: 10%;  
        justify-content: center;
        align-items: center;  
        width: 35%;  
        transform: translateY(80%);
        
    }
      
      .buttonEdit {
        background-color: #F6DF0D;
        font-family: 'Bebas Neue', sans-serif;
        height: 35%;
        justify-content: center;
        align-items: center;
        width: 25%;
        transform: translateY(80%);

    }
      
       .buttonDelete{
            transform: translateY(80%);
            background-color: #F6DF0D;
            font-family: 'Bebas Neue', sans-serif;
            height: 35%;
            justify-content: center;
            align-items: center;
            width: 25%;
          
        
    }
    
        .btn-cerrar{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    font-size: 150%;
    position: absolute;
    top: 1%;
    right: 3%;
    margin-top: -2%;
    margin-right: -2%;
}
   .textAreEdit{
        width: 80%;
        height: 15%;
        display: block;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        border-radius: 10px;
        border: 1px solid #F6DF0D;
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        font-size: 100%;
        left: 10%;
        align-items: center;   

   }
   .buttonUpdate{
    font-family: 'Bebas Neue', sans-serif;
        width: 20%;
        height: 4%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translateX(10%);
        background-color: #F6DF0D;
        font-size: 90%;

   }
}
