@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Buenard:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@300&display=swap');
@media (min-width: 769px) {
    * {
    margin: 0;
    }

    /*START*/
    .HerCode {
        display: flex;/* visualizar contenido  */
        justify-content: center;

        padding: 10%;
        color: #F6DF0D;
        font-family:'Bebas Neue', sans-serif;
        font-weight: bold;
        font-size: 700%;
        -webkit-text-stroke: 2px black;
        position:fixed;
        left: 50%;
        align-items: center;
        transform: translateX(-50%);
        overflow: hidden;
    }
    .sectionOne {
        background-image:url(./Imagenes/programadora.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        opacity: 0.65;
        width: 50%;
        margin-left: 25%;
       
    }

    .btn-start{
        background-color: #F6DF0D;
        font-family: 'Bebas Neue', sans-serif;
        font-weight: bold;
        width: 20%;
        height: 8%;
        font-size: 200%;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 85%;
        left: 50%;
        transform: translateX(-45%);
    }
}    

@media (max-width: 768px) {
    * {
    margin: 0;
    }
    /*START*/
    .HerCode {
        display: flex;/* visualizar contenido  */
        justify-content: center;
        padding: 25%;
        color: #F6DF0D;
        font-family:'Bebas Neue', sans-serif;
        font-weight: bold;
        font-size: 400%;
        -webkit-text-stroke: 2px black;
        position:fixed;
        left: 50%;
        align-items: center;
        transform: translateX(-50%);
        overflow: hidden;
    }
    .sectionOne {
        background-image:url(./Imagenes/programadora.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        opacity: 0.65;
        width: 100%;
    }
    .btn-start{
        background-color: #F6DF0D;
        font-family: 'Bebas Neue', sans-serif;
        font-weight: bold;
        width: 65%;
        height: 8%;
        font-size: 200%;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 80%;
        left: 50%;
        transform: translateX(-45%);
        
    }
    /*LOGIN*/
    .HerCode2 {
        display: flex;/* visualizar contenido  */
        justify-content: center;
        padding: 25%;
        color: #F6DF0D;
        font-family:'Bebas Neue', sans-serif;
        font-weight: bold;
        font-size: 600%;
        -webkit-text-stroke: 2px black;
        position:fixed;
        left: 50%;
        align-items: center;
        transform: translateX(-50%);
        overflow: hidden;
        
    }
    .inputEmail{
        display: flex;/* visualizar contenido  */
        justify-content: center;
        font-family:'Bebas Neue', sans-serif;
        font-size: 100%;
        border-radius: 8px;
        transform: translateX(-50%);
        margin: 15px;
        width: 60%;
        height: 8%;
        text-align: center;
        position: relative; 
        top: 40%; 
        left:50%; 
    }

    .inputPass{
        display: flex;/* visualizar contenido  */
        justify-content: center;
        font-family:'Bebas Neue', sans-serif;
        font-size: 100%;
        border-radius: 8px;
        transform: translateX(-50%);
        margin: 15px;
        width: 60%;
        height: 8%;
        text-align: center;
        position: relative; 
        top: 40%; 
        left:50%;
    }
        
    .btn-login{
        background-color: #F6DF0D;
        font-family: 'Bebas Neue', sans-serif;
        font-weight: bold;
        width: 65%;
        height: 8%;
        font-size: 200%;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 70%;
        left: 50%;
        transform: translateX(-45%);
    }
    .btn-google{
        width: 65%;
        height: 8%;
        font-size: 100%;
        font-family: 'Roboto', sans-serif;
        background-color: white;
        flex-direction: row-reverse;
        align-items: center;
        top:80%;
        display: flex;
        justify-content: center;
        position:fixed;
        left: 50%;
        transform: translateX(-45%);
        
        

    }
    .googleImg{
        width: 25px;
        height: 25px;
        padding-right: 10px;
    }
    .btn-register{
        background-color: #F6DF0D;
        font-family: 'Bebas Neue', sans-serif;
        font-weight: bold;
        width: 65%;
        height: 8%;
        font-size: 200%;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 90%;
        left: 50%;
        transform: translateX(-45%);
    }
    /*REGISTER*/
    .btn-register2{
        background-color: #F6DF0D;
        font-family: 'Bebas Neue', sans-serif;
        font-weight: bold;
        width: 65%;
        height: 8%;
        font-size: 200%;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 80%;
        left: 50%;
        transform: translateX(-45%);
    }
    .inputnombre{
        display: flex;/* visualizar contenido  */
        justify-content: center;
        font-family:'Bebas Neue', sans-serif;
        font-size: 100%;
        border-radius: 8px;
        transform: translateX(-50%);
        margin: 15px;
        width: 60%;
        height: 8%;
        text-align: center;
        position: relative; 
        top: 40%; 
        left:50%; 
    }
    /*BIENVENIDA*/
    .sectionTwo{
        background-color: #F6DF0D;
        background-image: url(https://static.wixstatic.com/media/dd7a20_4a5674d23ecd438f8c7c2ebcff428d48~mv2.gif);
        background-size: cover;
        height: 100vb;
        opacity: 0.4;
    }

    .bienvenida {
        display: flex;/* visualizar contenido  */
        justify-content: center;
        padding: 30%;
        font-family:'Bebas Neue', sans-serif;
        font-weight: bold;
        font-size: 400%;
        color:#0202D4;
        position:fixed;
        top: 15%;
        left: 35%;
        align-items: center;
        transform: translateX(-50%);
    }
    /* MURO DE PROGRAMACION*/

    .sectionPost{
        background-image:url(./Imagenes/muro.jpg);
        background-repeat: no-repeat;
        width: 100%;
        background-size: 100%;
        position: relative;
        opacity: 0.65;
           
    }
    .titlePost{
        font-family:'Bebas Neue', sans-serif;
        font-size: 300%;
        text-align: center;
        padding-top: 15%;
        position: relative;
        text-shadow: 0px 0px 9px #F6DF0D;
        left:1%;

    }
        
    .btn-publicar{
        font-family: 'Bebas Neue', sans-serif;
        width: 15%;
        height: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 25%;
        left: 43%;
        transform: translateX(210%);
        background-color: #F6DF0D;
        font-size: 150%;
    }
    .textAreaPost{
        width: 80%;
        height: 15%;
        display: block;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        border-radius: 10px;
        border: 1px solid #F6DF0D;
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        font-size: 100%;
        left: 10%;
        align-items: center;   
    }
    .contenidoPost{
        background-color: #FFFF;
        margin: 10% auto;
        width: 60%;
        height: 15%;
        border-color: #FFF6A1;
        border-width: 5px;
        border-radius: 15px;
        border-style:ridge;
        padding: 5%;
        font-size: 120%;
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        
    }
    
       .btn-like {
        transform: translateX(130%);
        background-color: #F6DF0D;
        font-family: 'Bebas Neue', sans-serif;
        height: 30%;
        font-size: 100%;
        margin-top: 10%;  
        justify-content: center;
        align-items: center;      
      }
      .buttonEdit {
        transform: translateX(450%);
        background-color: #F6DF0D;
        font-family: 'Bebas Neue', sans-serif;
        height: 30%;
        font-size: 100%;
        justify-content: center;
        align-items: center;
      }
    .buttonDelete{
        font-family: 'Bebas Neue', sans-serif;
        height: 30%;
        font-size: 100%;
        justify-content: center;
        align-items: center;
        transform: translateX(280%);
        background-color: #F6DF0D;
      }
   .btn-cerrar{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    font-size: 150%;
    position: absolute;
    top: 1%;
    right: 3%;
    margin-top: -2%;
    margin-right: -2%;
}
   .textAreEdit{
        width: 80%;
        height: 15%;
        display: block;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        border-radius: 10px;
        border: 1px solid #F6DF0D;
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        font-size: 100%;
        left: 10%;
        align-items: center;   

   }
   .buttonUpdate{
    font-family: 'Bebas Neue', sans-serif;
        width: 20%;
        height: 4%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translateX(10%);
        background-color: #F6DF0D;
        font-size: 90%;

   }
}
